* {
  margin: 0;
  padding: 0;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-column-gap: 30px;
  justify-content: center;
  padding-top: 30px;

}

@import "./styles/persons-cards.scss";
@import "./styles/hovered-card.scss";
@import "./styles/media.scss";